<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table{
            background-color: #00ffff;
            position:relative;
            left: 500px;
            height: 100%;

        }

        img{
            height: 200px;
            width: 200px;
        }
    </style>

</head>
<body>
    {%if aluguels %}
    <table border="1">
        <tr>
            <td>Nome</td>
            <td>Marca</td>
            <td>Ano</td>
            <td>Imagem</td>
        </tr>
        {% for aluguel in aluguels %}
        
        <tr>
            
            <td>{{ aluguel.carro.nome }}</td>
            <td>{{ aluguel.carro.marca }}</td>
            <td>{{ aluguel.carro.ano }}</td>   
            <td><img src="{{ aluguel.carro.imagem }}"></td>
            {% endfor %}
        </tr>
    </table>
    {% endif %}
</body>
</html>